# IDE/Editor
.vscode
.idea

# Package Manager
package.json
package-lock.json
yarn.lock

# Ignore build output and node_modules
build/
dist/
node_modules/

# Ignore any Git or other version control folders
.git/
.hg/
.svn/
